<!--Start Nav-->
<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <a class="navbar-brand" href="">
      <img src="assets/images/logo.png" width="180" height="" class="d-inline-block align-top">
    
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <h4>  Integrated Fault and Perfomance Management System</h4> 
    </div> 
    
    <form class="form-inline my-2 my-xl-0">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Help</button>
      </form>
  </nav>
  <!-- End -->

