 <!-- start page title -->
 <div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Permits</a></li>
                    <li class="breadcrumb-item active">Permits List</li>
                </ol>
            </div>
            <h4 class="page-title">Permits</h4>
        </div>
    </div>
</div>     
<!-- end page title --> 


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="header-title">List of Issued Permits</h4>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Today</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">This Week</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">This month</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover mb-0" cellspacing="0" width="100%" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th>Fault ID</th>
                                <td>PTW Numnber</td>
                                <th>Customer Name</th>
                                <th>Date of Issue</th>
                                <th>Technician</th>
                                <th>Actions</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fault of faults">
                                <td>{{fault.id}}</td>
                                <td>{{fault.customerName}}</td>
                                <td>{{fault.accountManager}}</td>
                                <td>{{fault.linkName}}</td>
                                <td class="table-action" style="width: 90px;">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item" [routerLink]="['assess',fault.id]">Assess</a>
                                            <a href="javascript:void(0);" class="dropdown-item" [routerLink]="['view',fault.id]">View</a>
                                            <!-- item-->
                                        </div>
                                    </div>
                                </td>
                            </tr>          
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->

</div>
<!-- end row-->
