<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="scrollableModalTitle">Request Material</h4>
        <button type="button" class="btn-close" (click)="activeModal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
        <form>
                <table class="table table-bordered table-centered mb-0">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th width="50px">
                                <div>
                                    <a href="javascript: void(0);" class="action-icon" (click)="addItems()"> <i class="mdi mdi-plus"></i></a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items; let i = index">
                            <td>
                                <select class="form-control">
                                    <option>Select Item</option>
                                    <optgroup  *ngFor="let group of materialGroups" [label]="group.label"  [disabled]="group.disabled">
                                        <option *ngFor="let material of group.materials">{{material.description}}</option>>
                                    </optgroup>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control" placeholder="1">
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="100m">
                            </td>
                            <td>
                                <div>
                                    <a href="javascript: void(0);" class="action-icon" (click)="removeItem(i)"> <i class="mdi mdi-delete"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
     

            <div class="modal-footer ">
                <button type="button" class="btn btn-danger" (click)="activeModal.close('Cancel')">Cancel</button>            
                <button type="button" class="btn btn-success">Request</button>
            </div>
        </form>                          
    </div>
</div><!-- /.modal-content -->

