<div id="backdrop" class="modal-backdrop fade"  data-backdrop="static" data-keyboard="false" [ngClass]="{ show: showModal}"></div>
<div class="modal d-block fade" 
    [ngClass]="{ show: showModal }"
    (click)="onClose()">
    <div class="modal-dialog modal-xl" role="document" (click)="onDialogClick($event)">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="scrollableModalTitle">Assessment</h4>
                <button type="button" class="btn-close"  (click)="onClose()"></button>
            </div>
            <div class="modal-body">                                
                <form>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-secondary">Revoke</button>              
                        <button type="button" class="btn btn-success">Approve</button>
                        <button type="button" class="btn btn-primary" (click)="onClose()">Close</button>
                    </div>
                </form>                                   
            </div>

        </div>
    </div>
</div>

