<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="scrollableModalTitle">Re-Assign Fault</h4>
        <button type="button" class="btn-close" (click)="activeModal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="row mb-4">
                <label for="technician" class="col-4 col-form-label">Assign Technician:</label>
                <div class="col">
                    <select  class="form-select">
                        <option>Select</option>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>Normal</option>
                        <option>High</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer ">
                <button type="button" class="btn btn-danger" (click)="activeModal.close('Cancel')">Cancel</button>            
                <button type="button" class="btn btn-success">Assign</button>
            </div>
        </form>                                 
    </div>

</div><!-- /.modal-content -->

