<app-header></app-header>

<div class="container-fluid col-md-9">
    <div class="row ">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h3> <i class="fa fa-repeat"></i> Forgot Your Password?</h3>
          </div>
          <p>Please enter your email address</p>
          <form>
            <div class="m-12">
              <label class="sr-only" for="inlineFormInputGroup">Email Address</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email address">
              </div>
            </div> <br>
  
              <div class="text-right">
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>Reset</button>
                <a routerLink="../login" data-toggle="tooltip" title="Cancel" class="btn btn-default"><i class="fa fa-reply"></i></a>
              </div>
          </form> 
          </div>
        </div>
    </div>
  </div>

<app-footer></app-footer>


