h3 {
  font-size: 25px;
  font-weight: 500;
  color: black;
}

.container-fluid {
  border-radius: 1em;
  padding: 1em;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.container-fluid .card {
  left: 25%;
  width: 50%;
}

p {
  text-align: center;
  font-weight: 350;
  font-size: 19px;
  color: black;
}
