<div id="backdrop" class="modal-backdrop fade"  data-backdrop="static" data-keyboard="false" [ngClass]="{ show: showModal}"></div>
<div class="modal d-block fade" 
    [ngClass]="{ show: showModal }"
    (click)="onClose()">
    <div class="modal-dialog" role="document" (click)="onDialogClick($event)">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="scrollableModalTitle">Refer Fault</h4>
                <button type="button" class="btn-close"  (click)="onClose()"></button>
            </div>
            <div class="modal-body">                                
                <form class="form-horizontal">
                    <div class="row mb-4">
                        <label for="customerName" class="col-4 col-form-label">Customer Name:</label>
                        <div class="col">
                            <input type="text" class="form-control" name="customerName" [(ngModel)]="fault.customerName">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="location" class="col-4 col-form-label">Fault Locale:</label>
                        <div class="col">
                            <input type="text" class="form-control" name="city" [(ngModel)]="fault.city">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="technician" class="col-4 col-form-label">Refer To:</label>
                        <div class="col">
                            <select  class="form-select">
                                <option>Select</option>
                                <option>Low</option>
                                <option>Medium</option>
                                <option>Normal</option>
                                <option>High</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer ">
                        <button type="button" class="btn btn-success">Refer</button>
                        <button type="button" class="btn btn-primary" (click)="onClose()">Close</button>
                    </div>
                </form>                                    
            </div>

        </div>
    </div>
</div>
