/* You can add global styles to this file, and also import other style files */
@import "~assets/css/vendor/dataTables.bootstrap5.css";
@import "~assets/css/vendor/responsive.bootstrap5.css";
@import "~assets/css/app.min.css";
@import "~assets/css/icons.min.css";

/* moda style */
.modal-header {
  background-color: aliceblue;
}
.modal-header .modal-title {
  justify-content: center;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}

/* Age status row in each component */
#timeStatus {
  font-size: 13px;
  padding-left: 10px;
  color: black;
  font-weight: bold;
}

#timeStatus p > span {
  color: green;
}

/* Input group prepend*/
.input-group-prepend,
.input-group-append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.input-group-prepend .btn,
.input-group-append .btn {
  position: relative;
  z-index: 2;
}

.input-group-prepend .btn:focus,
.input-group-append .btn:focus {
  z-index: 3;
}

.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-append {
  margin-left: -1px;
}
