<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="header-title">List of Requested Permits</h4>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover mb-0" datatable [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th>Fault ID</th>
                                <td>PTW Numnber</td>
                                <th>Customer Name</th>
                                <th>Date of Issue</th>
                                <th>Technician</th>
                                <th>Actions</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>22022022160557</td>
                                <td>12</td>
                                <td>Okay Marimba</td>
                                <td>2022/02/22</td>
                                <td>Chipangura</td>
                                <td class="table-action" style="width: 90px;">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <!-- items-->
                                            <a href="javascript:void(0);" class="dropdown-item">Issue Permit</a>
                                            <a href="javascript:void(0);" class="dropdown-item">View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>22022022160757</td>
                                <td>14</td>
                                <td>HIT</td>
                                <td>2022/02/22</td>
                                <td>Hotera</td>
                                <td class="table-action" style="width: 90px;">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <!-- items-->
                                            <a href="javascript:void(0);" class="dropdown-item">Issue Permit</a>
                                            <a href="javascript:void(0);" class="dropdown-item">View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>22022022160857</td>
                                <td>98</td>
                                <td>ZIMRA</td>
                                <td>2022/02/23</td>
                                <td>Loto</td>
                                <td class="table-action" style="width: 90px;">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <!-- items-->
                                            <a href="javascript:void(0);" class="dropdown-item">Issue Permit</a>
                                            <a href="javascript:void(0);" class="dropdown-item">View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>22022022160557</td>
                                <td>11</td>
                                <td>Texos</td>
                                <td>2022/02/22</td>
                                <td>Lovemore</td>
                                <td class="table-action" style="width: 90px;">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <!-- items-->
                                            <a href="javascript:void(0);" class="dropdown-item">Issue Permit</a>
                                            <a href="javascript:void(0);" class="dropdown-item">View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>22022022160557</td>
                                <td>12</td>
                                <td>Okay Marimba</td>
                                <td>2022/02/22</td>
                                <td>Chipangura</td>
                                <td class="table-action" style="width: 90px;">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <!-- items-->
                                            <a href="javascript:void(0);" class="dropdown-item">Issue Permit</a>
                                            <a href="javascript:void(0);" class="dropdown-item">View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>22022022160757</td>
                                <td>14</td>
                                <td>HIT</td>
                                <td>2022/02/22</td>
                                <td>Hotera</td>
                                <td class="table-action" style="width: 90px;">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <!-- items-->
                                            <a href="javascript:void(0);" class="dropdown-item">Issue Permit</a>
                                            <a href="javascript:void(0);" class="dropdown-item">View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->

<!--    <div class="col-lg-4">
        <app-faults-status></app-faults-status>
    </div> end col-->
</div>
